<% page = 1%>
<div id='note-detail'>
<%= render partial: 'notes/note_comments', locals: { note: note, page: page}%>
<%= render partial: 'comments/remote_form', locals: {c: note, page: page } %>
</div>
