<div class="col-md-7">
  <fieldset>
    <legend>
      <%= t(:research_history)%>
    </legend>
    <% @research = Research.new%>
  <%= render partial: 'researches/form', locals: {research: @research}%>

  </fieldset>
</div>

<%= hidden_field_tag 'caller', 'reg'%>
