<div id='follow'>
  <% @followship = Followship.where(followable_type: item.class.name, followable_id: item.id, user_id: current_user.id ).first%>
<% if @followship.blank?%>
<%= link_to "/followships/follow/1?followable_type=#{item.class.name}&followable_id="+ item.id.to_s, :method => :get, remote: true  do %>
<button type="button" class="btn btn-light-purple btn-squared btn-xs">
  <i class="fa fa-chain" style="color: white !important;vertical-align: middle;"></i>&nbsp <%= t(:follow)%>&nbsp
</button>
<%end%>
<%else%>
<%= link_to "/followships/unfollow/1?followable_type=#{item.class.name}&followable_id="+ item.id.to_s, :method => :get, remote: true  do %>
<button type="button" class="btn btn-dark-yellow btn-squared btn-xs">
  <i class="fa fa-chain-broken" style="color: white !important;vertical-align: middle;"></i><%= t(:unfollow)%>&nbsp
</button>
<%end%>
<%end%>
</div>
