<div class="modal fade" id="modal-t-<%= task.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'preports/form', locals:{task: task}%>
      </div>
    </div>
  </div>
</div>
