<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You are added to the channel <%= @grouping.group.name%>.
      <%= link_to @grouping.group do%> see the details <%end%>
    </p>
  </body>
</html>
