
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @involvement.user.profile.name%> <%= @involvement.user.profile.surename%>
      is added to channel <%= @involvement.channel.name%>.
      <%= link_to @involvement.channel do%> see the details <%end%>
    </p>
  </body>
</html>
