<div class="wrap-content container" id="container">
  <div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-7 col-lg-8">
            <div class="panel panel-white no-radius" id="visits">
              <div class="panel-heading border-light">
                <h4 class="panel-title"> Visits </h4>
              </div>
              <div collapse="visits" class="panel-wrapper">
                <div class="panel-body">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="row">
            <%= render 'tags/bubble'%>

            <%= render 'home/personal_stat'%>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
