<div id='admins'>
<% for admin in Participation.where(event_id: event.id, role: 1)%>
    <span class='label label-info'>
      <%= link_to admin.user.profile do%>
      <span style='color: white'>  <%= admin.user.profile.name%> <%= admin.user.profile.surename%></span>
      <%end%>
    </span>
<%end%>
    </div>
