<div class="fileinput fileinput-new" id="uploadavatarimage">
  <div class="user-image">
    <div class="fileinput-new thumbnail"><%= image_tag @event.avatar(:medium), :class => "img-responsive"%>
    </div>
  </div>
</div>
