<% if current_user.id != profile.user_id%>
<div id='friendship' class="col-sm-12">
  <% @f = Friendship.where(user_id: current_user.id, friend_id: profile.user_id).first%>
  <% if @f.blank?%>
  <%= link_to "/friendships/add_friend/1?friend_id=#{profile.user_id}", remote: true do%>
  <button type="button" class="btn btn-wide btn-o btn-success">
    <%= t(:follow)%>
  </button>
  <%end%>
  <%else%>
  <%= link_to "/friendships/remove_friend/1?friend_id=#{profile.user_id}", remote: true do%>
  <button  type="button" class="btn btn-wide btn-o btn-danger">
    <%= t(:unfollow)%>
  </button>
  <%end%>
  <%end%>
</div>
<%end%>
