<div id='poll-detail'>
  <div class="col-md-7 padding-right-0 padding-left-0" >
    <div class="panel panel-white no-radius">
      <div class="panel-heading border-light">
        <h4 class="panel-title"></h4>
        <ul class="panel-heading-tabs border-light">
          <li class="panel-tools">
            <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
          </li>
        </ul>
      </div>
      <div class="panel-body ">
        <div class="col-md-12 height-200">
          <div class="row " style='margin-top:50px;'>
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align:center">  <h5> <i class="fa fa-check" style='vertical-align:middle'></i> <%=t :thanks_for_your_opinion%></h5></div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
