<footer>
  <div class="footer-inner">
    <div class="pull-right">
      شعاع
    </div>
    <div class="pull-left">
      <span class="go-top"><i class="ti-angle-up"></i></span>
    </div>
  </div>
</footer>
<!-- end: FOOTER -->
<!-- start: OFF-SIDEBAR -->
<div id="off-sidebar" class="sidebar">

</div>
<!-- end: OFF-SIDEBAR -->

    <!-- end: THEME SWITCHER -->
  </div>
</div>
